---
import discord from '../assets/icons/discord.svg';
import facebook from '../assets/icons/facebook.svg';
import instagram from '../assets/icons/instagram.svg';
import linkedin from '../assets/icons/linkedin.svg';
import x from '../assets/icons/x.svg';
import SocialIcon from './SocialIcon.astro';
---

<footer
    class='h-[18vh] bg-background flex flex-col justify-center items-center'>
    <div class='flex mb-2 gap-2'>
        <SocialIcon class='w-auto h-6' icon={linkedin} alt='LinkedIn logo' />
        <SocialIcon class='w-auto h-6' icon={x} alt='X logo' />
        <SocialIcon class='w-auto h-6' icon={facebook} alt='Facebook logo' />
        <SocialIcon class='w-auto h-6' icon={instagram} alt='Instagram logo' />
        <SocialIcon class='w-auto h-6' icon={discord} alt='Discord logo' />
    </div>
    <p class='text-xs'>© 2025 Your Company. All rights reserved</p>
</footer>
