---
import { type Project } from '@baseTypes/Project';

export interface Props {
    index: number;
    project: Project;
}

const {
    index,
    project: { image, title, description, startDate, endDate }
} = Astro.props;
---

<div
    class={`bg-[url("${image}")] bg-cover bg-fixed h-screen flex flex-col text-accent`}
    style={`background-image: url(${image})`}>
    <div
        class='bg-foreground/70 h-[inherit] justify-center px-[8vw] pt-[15vh] lg:content-center'>
        <h1 class='text-6xl lg:text-9xl'>{index + 1}</h1>

        <h2
            class='text-3xl font-semibold underline pt-[3vh] pb-[1vh] lg:text-5xl'>
            {title}
        </h2>

        <h5 class='text-xl italic'>
            {startDate} - {endDate}
        </h5>

        <p class='text-lg py-[5vh] lg:w-1/2 lg:text-2xl'>
            {description}
        </p>
    </div>
</div>
